.wrap-contact100 {
  width: 900px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px 55px;
}

.fc-event {
  background-color: #3a87ad !important;
  border: none;
}

.fc-license-message {
  display: none !important;
}
