<form class="login100-form validate-form" (ngSubmit)="signup()">
					<span class="login100-form-title p-b-43">
						SIGN UP
					</span>


  <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
    <input class="input100" type="text" name="email" [(ngModel)]="emailId">
    <span class="focus-input100"></span>
    <span class="label-input100">Email</span>
  </div>


  <div class="container-login100-form-btn">
    <button class="login100-form-btn">
      Signup
    </button>
  </div>

  <div class="text-center p-t-20 p-b-20">
						<span class="txt2">
              OR
						</span>
  </div>

  <div class="container-login100-form-btn">
    <a [routerLink]="['/user/login']" class="login100-form-btn">
      Login
    </a>
  </div>
</form>
